@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700;900&family=Tajawal:wght@400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  direction: ltr;
  text-align: start;
  overflow-x: hidden;
  font-family: 'Tajawal', sans-serif;
}

::-webkit-scrollbar-thumb {
  background-color: #0DA6DF;
  border-radius: 0px;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
label {
  text-transform: capitalize;
}

ul,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

button {
  outline: 0;
  border: 0;
  background: transparent;
}

.theme {
  --primary-color: #0DA6DF;
}

nav {
  border-bottom: 2px solid #0DA6DF;
}

nav img {
  -o-object-fit: contain;
     object-fit: contain;
  padding: 10px 0;
}

header {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

header .overlay {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header h2 {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
}

header ._info {
  background: #ffffffe0;
  padding: 15px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header ._info p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  z-index: 999;
}

header ._info span {
  font-weight: bold;
  color: #0DA6DF;
  font-size: 20px;
  z-index: 999;
}

header img {
  width: 50px;
  margin-top: 70px;
}

.about_ {
  padding: 50px 0px 0 0px;
}

.about_ .about_us {
  text-align: center;
  border-radius: 20px;
  border: 1px solid #707070;
  padding: 50px 25px;
  position: relative;
  margin: 0 15px;
}

.about_ .about_us h4 {
  font-size: 20px;
  color: #000;
}

.about_ .about_us span {
  font-size: 20px;
  color: #0DA6DF;
  font-weight: bold;
}

.about_ .star-one {
  position: absolute;
  top: -32px;
  right: 90px;
}

.about_ .star-one img:last-of-type {
  top: 45px;
  right: 50px;
  position: absolute;
}

.about_ .star-two {
  position: absolute;
  bottom: -18px;
  left: 90px;
}

.about_ .star-two img:last-of-type {
  bottom: 25px;
  left: 30px;
  position: absolute;
}

.about_ .about_us_desc {
  text-align: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0da6df45), to(#FFFFFF));
  background-image: linear-gradient(to top, #0da6df45, #FFFFFF);
  padding-bottom: 20px;
}

@media (max-width: 991px) {
  .about_ .about_us_desc {
    margin-top: 35px;
  }
}

.about_ .about_us_desc .btns_ {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_ .about_us_desc .btns_ button {
  border-radius: 20px;
  color: #fff;
  padding: 0.2rem 1.5rem;
  text-align: center;
}

.about_ .about_us_desc .btns_ button:first-of-type {
  background-color: #008ED2;
}

.about_ .about_us_desc .btns_ button:last-of-type {
  background-color: #D4151B;
}

._anchor {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._anchor span:first-of-type {
  color: #000;
  border-radius: 14px;
  background-color: #fff;
  border: 1px solid #000;
  padding: 0.6rem 1rem;
  text-align: center;
}

._anchor a {
  color: #fff;
  border-radius: 13px;
  background-color: #008ED2;
  border: 1px solid #008ED2;
  padding: 0.6rem 1rem;
  text-align: center;
}

.categories {
  text-align: center;
}

.categories .info_catg {
  text-align: center;
  padding: 15px;
}

.categories .info_catg p {
  color: #000;
  margin: 0px 0;
  font-size: 25px;
}

.categories .info_catg span {
  color: #008ED2;
  font-weight: bold;
  font-size: 25px;
}

.categories .item_ {
  border: 1px solid #000;
  border-radius: 23px;
  width: 150px;
  text-align: center;
  margin: 15px 0;
  -webkit-box-shadow: #0d6efd47 0px 7px 13px 0px;
          box-shadow: #0d6efd47 0px 7px 13px 0px;
}

.categories .item_ span:first-of-type {
  background: #fff;
  border-radius: 23px 23px 0 0;
  padding: 20px;
  border-bottom: 1px solid #707070;
  color: #008ED2;
  font-weight: bold;
  height: 80px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categories .item_ span:last-of-type {
  background: #0DA6DF;
  border-radius: 0 0 23px 23px;
  padding: 20px;
  font-weight: bold;
  color: #fff;
  height: 80px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categories .col-6,
.categories .col-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products {
  padding: 30px 0;
}

.products .products-info p {
  color: #000;
  margin: 0;
  font-size: 25px;
}

.products .products-info span {
  color: #008ED2;
  font-size: 25px;
  font-weight: bold;
}

.products .product-item {
  margin: 35px 0;
}

.products .product-item a {
  background-color: #008ED2;
  color: #fff !important;
  padding: 0.5rem 1.5rem;
  text-align: center;
  border-radius: 14px;
}

.oily-products {
  padding: 25px 0;
}

.oily-products .arrow {
  margin-bottom: 25px;
}

.oily-products .arrow svg {
  color: #000;
  font-size: 30px;
}

.oily-products .product-list {
  margin: 35px 0;
}

.oily-products .product-list .product-img {
  border: 2px solid #008ED2;
  border-radius: 17px;
}

.oily-products .product-list .product-img img {
  width: 140px;
  border-radius: 18px;
}

.oily-products .product-list p {
  color: #000;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 18px;
}

.oily-products .product-list span {
  display: block;
  font-size: 17px;
}

.oily-products .product-list span:not(:first-of-type) {
  color: #008ED2;
}

footer {
  padding-top: 15px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0da6df45), to(#FFFFFF));
  background-image: linear-gradient(to bottom, #0da6df45, #FFFFFF);
}

footer span {
  color: #000;
  font-weight: bold;
}

footer svg {
  color: #1377D4;
  -webkit-margin-start: 5px;
          margin-inline-start: 5px;
}

@media (max-width: 767px) {
  .about_ .about_us_desc .btns_ button {
    padding: 0.5rem 1.5rem 0.2rem 1.5rem;
  }
  ._anchor a, ._anchor span:first-of-type {
    padding: 0.7rem 1rem 0.4rem 1rem;
  }
}
/*# sourceMappingURL=main.css.map */